<div class="container mt-4">
  <h1>Create Order</h1>
  <button type="submit" class="btn btn-success" style="cursor: pointer" (click)="addUnits()">+</button>
  <div class="card">

    <form [formGroup]="orderFG">

      <div class="form-group">
        <!--        <label>Customer</label>-->
        <mat-form-field>
          <mat-label>Customer</mat-label>
          <mat-select formControlName="customer">
            <mat-option *ngFor="let Client of clientArray" [value]="Client.id">
              {{Client.first_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--        <select [(ngModel)]="customer" ngDefaultControl [ngModelOptions]="{standalone: true}" id="customer"-->
        <!--                name="customer">-->
        <!--          <option *ngFor="let Client of ClientArray" [ngValue]="Client.id">{{Client.first_name}}</option>-->
        <!--        </select>-->
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input formControlName="date_registered" matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-group">
        <!--        <mat-form-field>-->
        <!--          <mat-label>Creator</mat-label>-->
        <!--          <mat-select formControlName="creator">-->
        <!--            <mat-option *ngFor="let Creator of creatorArray" [value]="Creator.id">-->
        <!--              {{Creator.username}}-->
        <!--            </mat-option>-->
        <!--          </mat-select>-->
        <!--        </mat-form-field>-->
        <!--        <select [(ngModel)]="creator" ngDefaultControl [ngModelOptions]="{standalone: true}" id="creator"-->
        <!--                name="creator">-->
        <!--          <option *ngFor="let Creator of CreatorArray" [ngValue]="Creator.id">{{Creator.username}}</option>-->
        <!--        </select>-->
        <mat-form-field>
          <mat-label>Total</mat-label>
          <input matInput formControlName="total">
        </mat-form-field>
      </div>
      <div formArrayName="units">
        <div *ngFor="let fg of getUnitsFA().controls; let i = index">
          <div [formGroupName]="i">
            <div class="form-group">
              <mat-form-field>
                <mat-label>Product</mat-label>
                <mat-select formControlName="product">
                  <mat-option *ngFor="let product of productArray" [value]="product.id">
                    {{product.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!--        <select [(ngModel)]="product" ngDefaultControl [ngModelOptions]="{standalone: true}" id="units" name="units">-->
              <!--          <option *ngFor="let product of ProductArray" [value]="product.id">{{product.name}}</option>-->
              <!--        </select>-->
              <!--            </div>-->

              <!--            <div class="form-group">-->
              <!--        <label>Amount</label>-->
              <mat-form-field>
                <mat-label>Amount</mat-label>
                <input matInput formControlName="amount" (change)="onChange(i)">
              </mat-form-field>
              <!--        <input type="number" [(ngModel)]="amount" [ngModelOptions]="{standalone: true}" class="form-control"-->
              <!--               id="amount" name="amount" placeholder="Enter Amount">-->
              <!--            </div>-->


              <!--            <div class="form-group">-->
              <!--          <label>Price</label>-->
              <mat-form-field>
                <mat-label>Price</mat-label>
                <input matInput formControlName="price" (change)="onChange(i)">
              </mat-form-field>
              <!--          <input type="number" [(ngModel)]="price" [ngModelOptions]="{standalone: true}" class="form-control"-->
              <!--                 id="price" name="price" placeholder="Enter Price">-->
              <button type="submit" class="btn btn-danger" style="cursor: pointer" (click)="removeUnits(i)">-</button>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-4" (click)="createPorosi()">Save</button> &nbsp;
      <button type="submit" class="btn btn-warning mt-4" (click)="updatePorosi()">Update</button>
    </form>
  </div>
</div>

<div>
  <div class="container mt-4">
    <h1>Orders</h1>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Customer</th>
        <th scope="col">Creator</th>
        <th scope="col">Product</th>
        <th scope="col">Date Registered</th>
        <th scope="col">Price</th>
        <th scope="col">Amount</th>
        <th scope="col">Total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let Porosi of orderArray">

        <td>{{Porosi.customer}}</td>
        <td>{{Porosi.creator }}</td>
        <td>
          <div *ngFor="let unit of Porosi.units">{{unit.name}}</div>
        </td>
        <td>{{Porosi.date_registered }}</td>
        <td>
          <div *ngFor="let unit of Porosi.units">{{unit.price }}</div>
        </td>
        <td>
          <div *ngFor="let unit of Porosi.units">{{unit.amount }}</div>
        </td>
        <td>
          <div *ngFor="let unit of Porosi.units">{{unit.amount * unit.price }}</div>
        </td>

        <td>
          <button type="button" class="btn btn-success" (click)="setUpdate(Porosi)">Edit</button>
          <button type="button" class="btn btn-danger" (click)="deletePorosi(Porosi)">Delete</button>
        </td>
      </tr>

      </tbody>
    </table>


  </div>
</div>
